sudo: required

services:
  - docker

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sbt
    - $HOME/.ivy2

language: scala

scala:
   - 2.13.0
   - 2.12.6
   - 2.11.12

jdk:
  - oraclejdk8
  - openjdk8

script: "sbt ++$TRAVIS_SCALA_VERSION clean coverage 'testOnly -- xonly timefactor 5' coverageReport"
after_success: 
  - sbt coveralls
  - bash <(curl -s https://codecov.io/bash)
