# use Docker-based container (instead of OpenVZ)
sudo: false

cache:
  directories:
    - $HOME/.m2/repository
    - $HOME/.sbt
    - $HOME/.ivy2

language: scala

scala:
   - 2.11.5

jdk:
  - oraclejdk8

script: "sbt clean coverage test"
after_success: 
  - sbt coveralls
  - bash <(curl -s https://codecov.io/bash)
